<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Retesting suite">
  <test name="Retesting">
    <classes>
      <class name="tests.Way2smslogintests">
      </class> 
      <class name="tests.Sendsmstests">
      </class>
    <!--   <class name="tests.Way2smslogouttests">
      </class> -->
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Failed suite [Default suite] -->